<div class="container">

  <div class="row">
    <div class="col-sm-4">

      <p class="form-group" ng-repeat="note in notes">
      <a ng-click="editNote(note);">{{ note.title }}</a>
      </p>

    </div>

    <div class="col-sm-8">
      <form role="form" ng-submit="addNote(newNote)">
        <span class="input-group-btn pull-right">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>

        <div class="input-group">
          <input type="text" ng-model="newNote.title" placeholder="Title" class="form-control" />
          <textarea  rows="20" cols="50" ng-model="newNote.body" placeholder="What are you thinking?" class="form-control" />
        </div>

      </form>

    </div>
  </div>
</div>
