      <form role="form" ng-submit="addNote(note)">
        <div class="row">
          <div class="input-group">
            <input type="text" ng-model="note.title" placeholder="Title" class="form-control">
            <input type="text" ng-model="note.body" placeholder="What are you thinking?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" value="Add">
            </span>
          </div>
        </div>
      </form>

<div class="jumbotron">


  <div class="container">
    <p class="form-group" ng-repeat="note in notes">
    <input type="text" ng-model="note.doc.title" class="form-control">
    <textarea  ng-model="note.doc.body" class="form-control">
    </p>
  </div>

</div>
